.main {
    height: 100vh;
    width: 100%;
    position: relative;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box {
    position: absolute;
    background-color: white;
    top: 9em;
    left: 8em;
    width: 28%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 1.8em;
}

.heading {
    font-size: 2.4em;
    font-family: Arial, sans-serif;
}

.para {
    font-size: 1.3em;
    line-height: 1.2em;
    color: rgb(50, 49, 49);
    font-family: Gill Sans, sans-serif;
}

.btn_box {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.btn {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: Andale Mono, monospace;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.btn:hover {
    color: rgb(75, 75, 75);
}

hr {
    width: 35%;
    height: 0.2em;
    background-color: black;
    border: none;
}

@media screen and (max-width : 1160px) {

    .main {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box {
        position: absolute;
        background-color: white;
        top: 8em;
        left: 3em;
        width: 45%;
        height: 47%;
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        padding: 1.7em;
    }

    .heading {
        font-size: 1.8em;
        font-family: Arial, sans-serif;
    }

    .para {
        font-size: 1.1em;
        line-height: 1.2em;
        color: #323131;
        font-family: Gill Sans, sans-serif;
    }

    .btn_box {
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        height: 4em;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    .btn {
        text-decoration: none;
        font-size: 1.1em;
        color: black;
        font-family: Andale Mono, monospace;
        cursor: pointer;
        transition: color 0.3s ease, text-decoration-color 0.3s ease;
    }

    .btn:hover {
        color: rgb(75, 75, 75);
    }

    hr {
        width: 35%;
        height: 0.2em;
        background-color: black;
        border: none;
    }
}
@media screen and (max-width : 550px) {

    .main {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box {
        position: absolute;
        background-color: white;
        top: 8em;
        left: 3em;
        width: 60%;
        height: 55%;
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        padding: 1.7em;
    }

    .heading {
        font-size: 1.8em;
        font-family: Arial, sans-serif;
    }

    .para {
        font-size: 1.1em;
        line-height: 1.2em;
        color: #323131;
        font-family: Gill Sans, sans-serif;
    }

    .btn_box {
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        height: 4em;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    .btn {
        text-decoration: none;
        font-size: 1.1em;
        color: black;
        font-family: Andale Mono, monospace;
        cursor: pointer;
        transition: color 0.3s ease, text-decoration-color 0.3s ease;
    }

    .btn:hover {
        color: rgb(75, 75, 75);
    }

    hr {
        width: 35%;
        height: 0.2em;
        background-color: black;
        border: none;
    }
}