.form-group {
    position: relative;
    margin: 20px 0;
}

.form-label {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 24px;
    color: #666;
    transition: all 0.3s ease;
    pointer-events: none;
    /* Prevents the label from being clicked */
}

.form-input {
    width: 100%;
    padding: 10px;
    padding-top: 25px;
    /* Create space for the label */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: -10px;
    left: 5px;
    font-size: 14px;
    color: #333;
}

.form-input:focus {
    outline: none;
    border-color: #333;
}